.projectCardContainer {
  position: relative;
  margin: 6rem 2rem 4rem 2rem;
  display: grid;
  grid-template-columns: repeat (12, 1fr);

  .projectImageWrapper {
    position: relative;
    height: 100%;
    width: 100%;
    grid-area: 1 / 6 / -1 / -1;
    grid-column: 1 / -1;
    z-index: 1;

    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);

    a {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      cursor: pointer;

      ::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0px;
        z-index: 2;
        background-color: rgba(18, 18, 20, 0.93);
      }

      .projectImage {
        width: 1000px;
        height: 100%;
        border: 1px solid pink;
      }
    }

  }

  .projectInfo {
    height: 100%;
    padding: 3rem 2rem;

    grid-area: 1 / 1 / -1 / 7;
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 999;

    h3 {
      margin-bottom: 3rem;
      font-size: 2rem;
      color: var(--gray-100);
    }

    p {
      margin-bottom: 3rem;
      color: var(--gray-200);
    }

    .technologies {
      margin-bottom: 2rem;
      font-size: 1.1rem;
      list-style-type: none;
      display: flex;

      li {
        margin-right: 2rem;
        color: var(--purple-500);
      }
    }

    .links {
      display: flex;
      justify-content: flex-end;
      line-height: 1rem;

      a {
        text-decoration: none;
        margin-right: 1rem;

        svg {
          transition: all 250ms ease;

          &:hover {
            fill: var(--purple-500);
          }
        }
      }
    }
  }
}