.heroContainer {
  visibility: hidden;
  height: calc(100vh - 5rem);
  width: 100%;
  padding: 10rem 2rem;

  .heroHello,
  .heroInfo,
  .heroDescription {
    margin: 0;
    min-height: 2rem;
    overflow: hidden;
    margin-bottom: 2rem;
  }

  .heroHelloInner {
    text-transform: uppercase;
    font: 700 1rem Karla, sans-serif;
    color: var(--pink);
  }

  .heroInfoInner {
    font: 700 1.8rem Spectral, serif;
  }

  .heroDescriptionInner {
    font: 300 1.1rem Karla, sans-serif;
  }

  .heroButton {
    width: 140px;
    background: var(--white);
    border: 1px solid var(--pink);
    padding: 5px;

    a {
      text-decoration: none;

      font: 700 1rem Karla, serif;
      color: var(--pink);
    }
  }

}