.heroContainer {
  visibility: hidden;
  height: calc(100vh - 5rem);
  width: 100%;
  padding: 10rem 2rem;

  .heroHello,
  .heroInfo,
  .heroDescription {
    margin: 0;
    min-height: 2rem;
    overflow: hidden;
    margin-bottom: 2rem;
  }

  .heroHelloInner {
    text-transform: uppercase;
    font: 700 1.3rem Karla, sans-serif;
    color: var(--purple-500);
  }

  .heroInfoInner {
    font: 700 3rem Spectral, serif;
    line-height: 3.2rem;
  }

  .heroDescriptionInner {
    color: var(--gray-100);
    font: 300 1.2rem Karla, sans-serif;
    line-height: 1.6rem;
  }

  .heroButton {
    width: 140px;
    margin-top: 1rem;
    background: transparent;
    border-radius: 3px;
    border: 1px solid var(--purple-500);
    padding: 1rem;
    transition: background 300ms ease-in-out;

    &:hover {
      background: var(--bg-dark-500);
    }

    a {
      text-decoration: none;
      font: 500 1.1rem Karla, serif;
      color: var(--purple-500);
    }
  }

}