.aboutContainer {
  min-height: 100vh;
  padding-top: 2rem;
  width: 100%;
  opacity: 1;
  margin-bottom: 8rem;
  color: var(--gray-200);

  h1 {
    margin-bottom: 3rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    margin: 1.3rem 0 5rem 0;
    font-size: 1.2rem;

    li {
      list-style-position: inside;
      list-style-type: circle;
      margin-right: 15px;
    }
  }

  .aboutButton {
    text-align: center;
    background: var(--purple-500);
    text-decoration: none;
    cursor: pointer;
    font: 500 1.2rem Karla, serif;
    color: var(--white);
    border-radius: 3px;
    border: 1px solid var(--purple-500);
    padding: 1.25rem 2rem;
    transition: var(--transition);

    &:hover {
      filter: brightness(0.9);
    }
  }
}

@media only screen and (min-width: 720px) {
  .aboutContainer {
    min-height: auto;
  }
}