.contactContainer {
  min-height: 90vh;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 3rem;
    font-size: 2.7rem;
  }

  p {
    color: var(--gray-200);
    margin-bottom: 6rem;
  }

  .contactButton {
    max-width: 200px;
    padding: 1.25rem 2rem;

    text-align: center;
    background: var(--purple-500);
    text-decoration: none;
    cursor: pointer;
    font: 500 1.2rem Karla, serif;
    color: var(--white);
    border-radius: 3px;
    border: 1px solid var(--purple-500);
    transition: var(--transition);

    &:hover {
      filter: brightness(0.9);
    }
  }
}