.headerContainer {
  width: 100vw;

  .navbar {
    height: 5rem;
    width: 100%;

    padding: 1rem 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
      color: var(--white);
      font-family: 'Karla', sans-serif;
      letter-spacing: 0.2rem;
      font-weight: 600;
      font-size: 1.5rem;
      text-decoration: none;

      z-index: 2;
    }

    .menuButton {
      width: 70px;
      height: 70px;
      background: none;

      padding: 0;
      border: 0;
      border-radius: 100%;
      outline: none;
      overflow: hidden;
      z-index: 2;

      display: flex;
      justify-content: center;
      align-items: center;

      .animation {
        cursor: pointer;
      }
    }

  }

  .menuDropdown {
    background: #000;

    height: 100vh;
    width: 100vw;
    padding-left: 5rem;
    padding-top: 5rem;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;
    justify-content: space-evenly;
    flex-direction: column;

    list-style: none;

    li {
      a {
        text-decoration: none;
        color: var(--white);
        font: 500 3rem Inter, sans-serif;
      }
    }
  }
}