.headerContainer {
  width: 100vw;

  display: flex;
  align-items: center;

  padding: 1rem 2rem;


  .navbar {
    height: 5rem;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
      color: var(--white);
      font-family: Lexend, sans-serif;
      letter-spacing: 0.2rem;
      font-weight: 600;
      font-size: 1.5rem;
      text-decoration: none;
    }

    .menuButton {
      width: 70px;
      height: 70px;
      background: none;

      padding: 0;
      border: 0;
      border-radius: 100%;
      outline: none;
      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;

      .animation {
        cursor: pointer;
      }
    }
  }
}