.headerContainer {
  visibility: hidden;
  width: 100vw;
  z-index: 4;

  .navbar {
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;

    padding: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
      color: var(--white);
      font-family: 'Karla', sans-serif;
      letter-spacing: 0.2rem;
      font-weight: 600;
      font-size: 1.8rem;
      text-decoration: none;
      z-index: 4;
    }

    .navList {
      list-style: none;
      transition: top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

      position: absolute;
      top: -100vh;
      left: 0;
      right: 0;
      bottom: 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      height: calc(100vh - 5rem);
      width: 100vw;
      padding-bottom: 15rem;

      li {
        a {
          text-decoration: none;
          color: var(--bg-white);

          font-weight: 600;
          font-size: 1.5rem;
        }
      }
    }

    .menuButton {
      width: 70px;
      height: 70px;
      background: none;
      z-index: 4;

      padding: 0;
      border: 0;
      border-radius: 100%;
      outline: none;
      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;

      .animation {
        cursor: pointer;
      }
    }
  }
}